/* Add CSS Styling */

.input,
.output {
  font-size:28px;
  font-family: Helvetica, "Times New Roman",sans-serif;
}

.input {
  background-color : rgb(5, 5, 5);
  color: rgb(241, 235, 235);
}

.output { 
  background-color : rgb(236, 236, 13);
}